<!DOCTYPE html>
<html>

<head>
  <style>

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 99%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}


    .table-hover tbody tr:hover td {
      background: rgb(228, 245, 250);
      opacity: 0.9 !important;
    }

    .table-hover tbody tr:hover th {
      background: lightskyblue !important;
    }

    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  
  <title><%=title%></title>
  
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="/login">Content Management System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= nav == 1 ? 'active' : '' %>">
        <a class="nav-link" href="/home" />Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item <%= nav == 2 ? 'active' : '' %>">
        <a class="nav-link" href="/data" />Date</a>
      </li>
      <li class="nav-item <%= nav == 3 ? 'active' : '' %>">
        <a class="nav-link" href="/dataDate" />Data Date</a>
      </li>
      <li class="nav-item <%= nav == 4 ? 'active' : '' %>">
        <a class="nav-link" href="/maps" />Maps</a>
      </li>

    </ul>

    <form class="form-inline my-3 my-lg-0" action="/logout" method="GET">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Signout</button>
    </form>

  </div>
</nav>

<body>